@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 1rem 0.5rem 1.5rem black;
}

.input-el {
  font-family: "Nunito Sans", sans-serif;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: #e5e7eb;
  /* color: darkgray; */
  border: none;
  width: 100%;
  margin: 2.5rem 0 3rem 0;
  outline: none;
}

.lists-div {
  width: 48rem;
  height: 30rem;
  background-color: #e5e7eb;
  border-radius: 1rem;
  color: black;
  overflow: scroll;
  overflow-x: hidden;
}

.single-list-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.text {
  font-size: 2rem;
}

.icons-div {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

.icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.icon:active {
  transform: scale(0.9);
}

.edit-input {
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 1rem;
}

/* ======  SCROLLBAR ====== */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(96, 95, 95);
  border-radius: 4px;
}
